.sidebar{
    width:30rem;
    height :auto;
    box-shadow: 2px 0px 1px -2px #888;
    justify-content: center;
    display: flex;
    position:fixed;
    top:12rem;
    left:3rem;
    background-color: white;

}

.sidebar ul{
    width: 100%;
    padding-top: 7rem;
    text-align: center;
}
.sidebar li {
    margin:0 auto;
    padding:4rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    text-transform: uppercase;
  }
  .sidebar li:hover {
    color: #fabf3e;
    cursor:pointer;
  }

  .rightComp{
    margin-top: 15rem;
    background-color: #fff;
    font-size: 2rem;  
  }

  .restaurantsSec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    font-size: 2rem;  
  }
  @media only screen and (max-width: 1000px) {
    .sidebar{
      display:none;
    }
    .sidebar ul{
      background-color: red;
    }
  }